*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #d9a7c7, #fffcdc); 
    font-family: Open sans, Helvetica, sans-serif;
    padding: clamp(20px, 5vw, 50px) 10px;
}

.container{
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background: #343b3e;
  border-radius: 5px;
  color: white;
  border: 1px solid black;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

h2{
  font-size: 25px;
  font-family: Raleway, sans-serif;
  text-align: center;
}

.form-group{
  margin-top: 30px;
}

label{
  font-size: 20px;
  display: block;
  position: relative;
}

input{
  display: block;
  width: 100%;
  font-size: 17px;
  color: white;
  padding: 12px;
  outline: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}

input:focus {
  box-shadow: 0 1px 0px #fff;
}

input::placeholder{
  font-size: 15px;
}

.icon-input-container{
  position: relative;
}

.icone-verif {
  width: 30px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: none;
}

.error-msg{
  margin-top: 10px;
  color: red;
  font-weight: 400;
  display: none;
}

.pswd-info{
  margin: 9px;
  color: #a9a9aa;
  font-weight: 400;
  display: block;
}

.lines{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.l1, .l2, .l3 {
  height: 5px;
  margin: 15px 5px 20px;
  width: 30%;
  position: relative;
  /* display: none; */
}
.l1 {
  background-color: red;
}
.l2 {
  background-color: #fdbb50;
}
.l3 {
  background-color: #14bd14;
}

.lines span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}

form button{
  font-size: 20px;
  min-width: 150px;
  display: block;
  margin: 40px auto 10px;
  padding: 12px 15px;
  background-color: #fffcdc;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  font-family: Raleway;
  font-weight: 600;
  cursor: pointer;
}
form button:hover {
  background-color: #8bdf88;
}